{% extends 'layout.html' %}

{% block body %}
	<h1>About Us</h1>
	<p>This is my first Flask app. I'm excited to dive into the world of web development and explore the possibilities that Flask offers. With Flask, I can easily build dynamic web applications using Python. It's a lightweight and flexible framework that allows me to create routes, handle requests, and render templates effortlessly. I'm looking forward to learning more about Flask and leveraging its powerful features to build amazing web experiences.</p>
{% endblock %}% extends 'layout.html' %}

